.testimonial-area {
    /* border: 1px dashed blue; */
    text-align: center;
    margin-bottom: 20px;
}

.testimonial-content {
    background-color: #f2f2f2;
    padding-bottom: 20px;
}
.small-testimonial {
    display: flex;
    flex-wrap: nowrap;
}

.small-testimonial > .testimonial-content {
    max-height: 500px;
    max-width: 210px;
    margin: 0 auto 20px;
    align-content: space-between;
}
.large-testimonial > .testimonial-content{
    max-width: 1140px;
    width: 100%;
}

.large-testimonial > .testimonial-content {
    /* width: 100%; */
}

@media (max-width: 650px) {

    .small-testimonial {
        display: flex;
        flex-wrap: wrap;
    }

    .blog-area > .container {
        width: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .blog-area > .blog-post {
        width:auto;
        max-width: none;
    }
}