.contact-area {
    /* border: 1px dashed blue; */
    /* text-align: center; */
    /* padding:40px; */
    margin-bottom: 20px;
    background-color: #f2f2f2;
    background-repeat: no-repeat; 
    background-size: cover;
    background-attachment: fixed;
    background-position: cover;

}

.contact-message {
    text-align: center;
}

.contact-message p {
    background: rgba(216, 211, 211, 0.37) none repeat scroll 0 0;
    border-radius: 5px;
    color: #000;
    font-size: 16px;
    margin-bottom: 20px;
    padding: 20px 15px;
}

.contact-area > .container {
    /* margin-left: 40px;
    margin-right: 40px; */
}