.Toolbar {
    border: 2px solid black;
    position: fixed;
    width: calc(100% - 4px); /* The 4 pixels from the border where making the div overflows */
    background-color: #fff;
    z-index: 100;
    color: #333333;
    font-size: 15px;
    height: 112px;
}


.Toolbar > ul {
    list-style-type: none;
    display:flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    padding-left: 0;
}

.Toolbar > ul > li > p  {
    border: 1px solid black;
    display: inherit;
    padding: 10px 20px;
    text-decoration: none;
    cursor: pointer;
}

.Toolbar > ul > li > p:hover  {
    background-color: #f2f2f2;
}

.Toolbar > ul > li > p:active  {
    background-color: #f2f2f2;
    color: #333333;
}