.services-area {
    /* border: 1px dashed blue; */
    text-align: center;
    /* padding:40px; */
    width: 100%;
}

.services-area > .container {
    padding: 0px;
}

.service-message {
    /* border: 1px dashed purple; */
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 30px;
    /* margin-bottom: 40px; */
    height: 200px;
    margin-bottom: 20px;
}

.services-area  h2 {
    color: #fff;
    text-transform: capitalize;
    text-shadow: 2px 2px #aaa;
    margin-bottom: 20px;
}

.services-area p {
    color: #fff;
}