.Home-page {
    text-align: center;
    /* border: 1px dashed black; */
    height: 98vh;
    background-repeat: no-repeat;
    background-size: cover;
}

#home {
    margin: 0px;
}

.Home-content {
    position: relative;
    top: 20%;
    font-size: 100%;
}

h1 {

}