.blog-post {
    /* border: 1px dashed purple; */
    /* height: 200px; */
    margin: 10px;
    padding-bottom: 15px;
    background-color: #F2F2F2;
    /* margin-bottom: 40px; */
    /* max-width: 55vh; */
}

