.App {
    overflow: hidden;
}

.App > div {
    margin-left: 20px;
    margin-right: 20px;
}

p { 
    margin: 20px;
    font-size: 14px;
}

.blue-text {
    color: red;
}

.red-text {
    color: #1686C1;
}

.green-text {
    color: #178A27;
}