.App {
    overflow: hidden;
}

.App > div {
    margin-left: 20px;
    margin-right: 20px;
}

img {
    width:100%;
}

p { 
    margin: 20px;
    font-size: 14px;
}

h2.blue {
    color: red;
}

h2.red {
    color: #1686C1;
}

h2.green {
    color: #178A27;
}